<!DOCTYPE html>
<html lang="en">
<head>
		<title>MadVinKar Games</title>
		<link rel="preload" href="home.css" as="style">
		<link rel="stylesheet" href="home.css">
	</head>
	<body>
		<header class="gradient">
			<div class="title">
				<h1 class="notranslate">Dashboard</h1>
			</div>
		</header>
		<canvas class="surface disabled"></canvas>
		<main>
			<ul>
				<li>
					<a href="/colorgame">
						<div class="icon">
							<img src="images/query.png" alt="Application Form">
						</div>
						<div class="text">
							<h2 class="notranslate">Application Form</h2>
							<p>Book a ticket</p>
						</div>
					</a>
				</li>
				
				<li>
					<a href="/snake">
						<div class="icon">
							<img src="images/query.png" alt="Revoke">
						</div>
						<div class="text">
							<h2 class="notranslate">Revoke Consent</h2>
							<p>Revoke Consent from an organization</p>
						</div>
					</a>
				</li>
				
				<li>
					<a href="/breakout">
						<div class="icon">
							<img src="images/query.png" alt="Update Consent">
						</div>
						<div class="text">
							<h2 class="notranslate">Update Consent</h2>
							<p>Update Consent for an organization</p>
						</div>
					</a>
				</li>

				<li>
					<a href="/pong">
						<div class="icon">
							<img src="images/query.png" alt="Delete All Data">
						</div>
						<div class="text">
							<h2 class="notranslate">Delete Data</h2>
							<p>Delete user data from everywhere</p>
						</div>
					</a>
				</li>

				<li>
					<a href="https://perfecttictactoe.herokuapp.com/">
						<div class="icon">
							<img src="images/query.png" alt="Query Data">
						</div>
						<div class="text">
							<h2 class="notranslate">Query Data</h2>
							<p>Query user data</p>
						</div>
					</a>
				</li>

			</ul>
		</main>	
</body></html>